@page "/logs"
@using Winter.Shared.Dto

<h1>
    <HxIcon Icon="BootstrapIcon.ListColumns" CssClass="me-1" />Logs
</h1>
<div class="d-flex">
    <HxGrid TItem="LogRecord" @ref="grid" Responsive="true" DataProvider="GetGridData" PageSize="10">
        <Columns>
            <HxGridColumn HeaderText="Timestamp" ItemTextSelector="@(item => item!.Timestamp.ToString())" />
            <HxGridColumn HeaderText="Resource" ItemTextSelector="@(item => item?.Resource)" />
            <HxGridColumn HeaderText="Scope" ItemTextSelector="@(item => item?.Scope)" />
            <HxGridColumn HeaderText="Record" ItemTextSelector="@(item => item!.Value)" />
        </Columns>
    </HxGrid>

</div>
